<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/logoblacksplash"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logoblacksplash"
        android:supportsRtl="true"
        android:theme="@style/Theme.Kalyanbazar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.ActivityProfile"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityStarline"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityChart"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityCreateBid"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityIndashboard"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityChangePassword"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivitySupport"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityGameRate"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityBidHistory"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityWalletStatement"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.ActivityUpi"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityBankDetails"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityWithdrawFund"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityAddPoint"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".activity.HomeDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityRegister"
            android:exported="false" />
        <activity
            android:name=".activity.ActivityLogin"
            android:exported="false" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activity.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>